<!DOCTYPE html>
<html>
  <head>
    <title>JoiaDaEuropa</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header" >
      <!--<div id="header">-->
        <!--<img src="<%= asset_path 'joiaeuropa.png' %>">-->

        <p>
        <div class="pull-right" >
        <% if current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, {method: 'delete'} %>
        <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
        <% end %>
        </div>


      <div class="pull-left" >
        <%= link_to 'PT', '/?lang=pt' %>
        <span>|</span>
        <%= link_to 'EN', '/?lang=en' %>
      </div>
    </p>
      </div>
    </header>

    <!-- menu -->
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><b>Página Inicial</b></a></li>
            <li><a href="#home"><b>História</b></a></li>
            <li><a href="#band">Missão</a></li>
            <li><a href="#tour">Notícias</a></li>
            <li><a href="#contact">Contactos</a></li>

            </li>

        </div>
      </div>
    </nav>


    <%= yield %>

    <% if notice %>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
    <% end %>
  </body>
</html>
